<!-- header -->
<%- include('partials/header') %>
<h1 class="heading">Dashboard</h1>
<% for(let hive of hives) {%>
    <li>
        <a href="/hives/<%= hive._id %>"><%= hive.name %></a>
        <%= hive.inspections %>
    </li>
<% } %>
<a href="/hives/new">Add a Hive</a>
<!-- footer -->
<%- include('partials/footer') %>