<!-- header -->
<%- include('partials/header') %>
<h1 class="heading"><%= hive.name %></h1>
<a href="/hives/<%= hive._id %>/edit">Edit Hive</a>
<form action="/hives/<%= hive._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>
<a href="/hives">Back To Dashboard</a>
<!-- footer -->
<%- include('partials/footer') %>